*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}

.login-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;

  background: linear-gradient(135deg,#f39acb,#9f7aea);
  padding:20px;
}

.login-card{
  background:white;
  padding:35px 25px;
  border-radius:20px;
  width:100%;
  max-width:360px;
  text-align:center;

  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.login-card h1{
  margin-bottom:10px;
}

.subtitle{
  font-size:14px;
  color:#666;
  margin-bottom:25px;
}

.login-card input{
  width:100%;
  padding:14px;
  margin-bottom:15px;

  border-radius:12px;
  border:1px solid #ddd;

  font-size:14px;
}

.login-card input:focus{
  outline:none;
  border-color:#9f7aea;
}

.login-card button{
  width:100%;
  padding:14px;

  border:none;
  border-radius:30px;

  background:linear-gradient(90deg,#f39acb,#9f7aea);
  color:white;

  font-size:16px;
  font-weight:bold;

  cursor:pointer;

  margin-top:5px;
}

.login-card button:hover{
  opacity:0.9;
}

.register{
  margin-top:18px;
  font-size:14px;
}

.register span{
  color:#7c3aed;
  font-weight:bold;
  cursor:pointer;
}